.search {
  display: block;
  position: relative;
  top: 20%;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.header {
	width: 100%;
	height: 20px;
}

h1 {
	font-family: 'ITC Avant Garde Gothic Pro';
	font-weight: 500;
}