{% include "header.html" %}
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="/static/munchee/style.css" />

	<title>munchee</title>
</head>

<body class="search" background="/static/munchee/background.png">
	<h1 align="center">munchee</h1>

	<hr>

	<p style="text-align:center">
		Bacon ipsum dolor amet picanha prosciutto pork cillum, meatball dolore jowl eu in biltong doner pork loin. In proident sausage deserunt chuck excepteur turkey ipsum sirloin tenderloin duis. Cupim leberkas porchetta proident ut doner. Corned beef cillum filet mignon sausage minim strip steak turkey occaecat. Chuck cupidatat alcatra tri-tip aliqua dolore do tail spare ribs chicken. Do officia voluptate, shank esse pariatur lorem shoulder shankle pork loin chicken et frankfurter. Excepteur drumstick spare ribs turkey, ullamco sirloin cupidatat irure shoulder t-bone nostrud ground round dolor jerky do.

		<br><br>

		<a href="/login/"><img src="/static/munchee/Sign-in-Large-Default.png"\></a>
	</p>

	<br>
</body>
</html>

