{% include "munchee/base.html" %}
<html>
	<head>
		<div class=row>
			<h3 style="float: right; margin-right: 30px"><a href="/logout/">Log Out</a></h3>
		</div>
	</head>

	<body background="/static/munchee/background.png">
		<div class="centre">
			<img src="/static/munchee/logo.png" style="display: block; margin-left: auto; margin-right: auto"/>
			<form action="/search/" method="post">
				{% csrf_token %}
				<br>
				<textarea class="form-control" name="companies" placeholder="e.g. Google, Apple, Bloomberg, ..."></textarea>
				<br>
				<textarea class="form-control" name="keywords" placeholder="e.g. software, technology, ..."></textarea>
				<br>
				<button type="submit" class="btn btn-primary center-block">Munch!</button>
			</form>
		</div>
	</body>
</html>

