<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="/static/munchee/style.css" />

	<title>munchee</title>
</head>

<body class="search" background="/static/munchee/background.png">
	<h1 align="center">munchee</h1>
	<form action="/search/" method="post">
		{% csrf_token %}
		<br>
		<textarea class="form-control" name="companies" placeholder="e.g. Google, Apple, Bloomberg, ..."></textarea>
		<br>
		<textarea class="form-control" name="keywords" placeholder="e.g. software, technology, ..."></textarea>
		<br>
		<button type="submit" class="btn btn-primary center-block">Munch!</button>
	</form>
</body>
</html>